@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

#ph1 {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    background-color: #9a8e96;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 50px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    font-size: 1.2rem;
    padding: 3px;
    margin: 6px 0;
    border: 1px solid lightgrey;
}

textarea {
    resize: none;
}

form {
    width: 1000px;
    margin: 0 auto; /*centers everything within the form*/
    color: black;
}

button {
    background-color: #edd2e0;
    color: grey;
    padding: 10px;
    margin-left: 10px;
    border-radius: 8px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    transition: background-color 1.5s;
}

button:hover {
    background-color: #dbabbe;
}

.buttons {
text-align: center;
}


.form-input {
    margin: 10px 0;
}

#form-area {
    margin-top: 3%;
    color: white;
}

label {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}